body {
    font-family: inter;
    background-color: #8FFF5B;
}

header {
    background-color: #913FB8;
    padding: 18px;
}

header a {
    color: white;
    font-size: 24px;
    position: relative;
    left: 456px; 
} 

ul {
    font-size: 24px;
    margin-left: 111px;
}

img {
    width: 801px;
    height: 451px;
    border: 5px double #2A8400;
    border-radius: 55px;
    margin: 38px 111px 38px 111px;
}

h1{
    margin-top: 38px;
    margin-bottom: 38px;
    font-size: 36px;
    color: #510077;
    text-align: center;
}

h2 {
    color: #510077;
    font-size: 28px;
    margin-left: 111px;
}

main a{
    background-color: #913FB8;
    border-radius: 55px;
    font-size: 24px;
    color: white;
    padding: 15px 44px 15px 44px;
    position: relative;
    left: 411px;
    text-decoration: none;
}

